*{
  padding: 0;
  margin: 0;
}

.nav-container {
  width: full;
  padding: 20px;
  justify-content: space-around;
  background-color: #585858;

  display: flex;
  color: white;




}

.items {
  display: flex;
  list-style: none;
}

.item {
  font-size: 22px;
  font-weight: 33px;
  padding: 5px;
  font-weight: bold;
  margin-right: 18px;



}

.banner-container {
  width: full;
  height: 100vh;
  background-image: url(./asset/image/background.jpg);

  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

.banner-container p {
  color: rgba(254, 247, 247, 0.984);
}

.bg-primary {
  background-color: red;
}

.title-banner {
  font-size: 87px;
}

.span {
  color: rgb(199, 62, 62);
}

.button .bg-primary {

  color: white;
  border: none;
  font-weight: bold;
  padding: 30px;
  margin-top: 10px;
  border-radius: 10px;
  margin: 15px;
}

p {
  font-size: 27px;
  color: rgb(145, 22, 145);
}

.service-container {
  width: full;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
}

.service-container .button {
  background-color: rgb(199, 43, 43);
  color: white;
  border: none;
  font-weight: bold;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin: 15px;
}

.service-container {
  display: flex;
}

.service-title {
  font-size: 40px;
  font-weight: bold;
}

.service-description {
  font-size: 20px;
  width: 50%;
  padding: 15px;
  margin-top: 10px;
}

.author-details {
  display: flex;
  padding: 5px;
  align-items: center;
}

.author-img-des {
  display: flex;
  align-items: center;
  padding: 20px;
  border-right: 0.5px solid rgb(110, 62, 158);
}

.author-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h5 {
  padding: 5px;
}

.more-details {
  padding: 25px;


}

ol li {
  padding: 10px;
  margin-left: 16px;
}

.service {
  padding: 50px;
  background-color: rgb(226, 219, 219);
  box-shadow: 8px 8px 12px gray;
  width: 150px;
  height: 150px;
  text-align: center;
  color: rgb(15, 15, 15);
  border-radius: 5px;
  margin: 5px;
  margin-right: 30px;




}

.service-logo {
  width: 100px;
  padding-bottom: 10px;
}

.service-up,
.service-down {
  display: flex;
}

.phone-call {
  display: flex;
}

.calls-icon {
  width: 90px;
}

.appointment-section {
  display: flex;
  width: 75%;
  background-color: red;
  padding: 10px;
  color: white;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.appointment-section .button {
  background-color: rgb(22, 19, 19);
  color: rgb(223, 207, 207);
  border: none;
  font-weight: bold;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin: 15px;
}

.app-description {
  width: 75%;
}

.blog {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;

}

.card-section {
   margin-top: 40px;
   margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  



}

.blog-section,
p {
  text-align: center;
  margin-left: 45px;
  color: rgb(24, 23, 23);

}

.card-img {
  width: 250px;
  height: 250;
  box-shadow: 4px 4px 2px grey;

  margin-top: 30px;
  margin-left: 20px;
  padding: 20px;


}

.card1,
h6 {
  margin-left: 35px;
  margin-top: 5px;
}

.card1,
h4 {
  margin-left: 35px;
  font-weight: bold;
  padding-top: 5px;
}


/* footer start here */
.footer-section {
  width: 100%;
  height: 50vh;
  background-color: black;
}